/* styles.css */
body {
    font-family: 'Varela Round', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: white;
    color: black;
    padding: 20px;
  }
  main {
    padding: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 1.5rem 0rem 0.5rem 0rem;
    text-align: center;
  }
  